#canvas {
  border: 1px solid;
  height: 300px;
  position: relative;
  overflow: hidden;
  width: 600px;
}

#ship {
  background-image: url('assets/ship.png');
  height: 37px;
  position: absolute;
  width: 79px;
}

#background {
  background-image: url('assets/scrollingBackground.jpg');
  background-repeat: repeat;
  height: 300px;
  position: absolute;
  width: 4220px;
}

.missile {
  background-image: url('assets/missile.png');
  height: 7px;
  width: 15px;
  position: absolute;
}